body {
    margin-left: 20px;
    margin-right: 20px;
}

#file-ariane {
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

#header, #header li a {
    color: #253d8c;
}

#logo {
    background-size: 100%;
    width: 200px;
    height: 75px;
    position: relative;
    margin-top: -5px;
    transition: 0s;
}

#icon-account {
    background: transparent url(/images/icon-account.png) no-repeat 0;
    background-position: right;
}

#icon-cart {
    background: transparent url(/images/icon-cart.png) no-repeat 0;
    background-position: center;
}

#icon-account, #icon-cart {
    height: 50px;
    display: block;
}

.img-form {
    width: inherit;
}

.close {
    text-shadow: initial;
    opacity: inherit;
}

.drop-files {
    border: 2px dashed #7d7d80!important;
}

.send {
    width: 200px;
}

.bg-button-fiche {
    background-color: #abbed0;
}

.bg-info-marque{
    background-color: #ffad17;
}
/* Slider */
#carousel {
    text-align: center;
    width: 80%;
}

#carousel .thumbnails {
    margin: auto;
    width: 100%;
    border: 2px solid #ccc;
    padding: 5px;
}

.master {
    height: 300px;
    background-color: #e2e2e2;
}

#carousel .master {
    padding-bottom: 0;
    position: relative;
}

#carousel .master img {
    z-index: 1;
    height: 99%
}


#carousel .thumbnails {
    overflow: hidden;
}

#carousel .thumbnails img {
    float: left;
    width: 19.2%;
    outline: 2px solid #bbb;
    opacity: .6;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

#carousel .thumbnails img:last-child {
    margin-right: 0!important;
}

#carousel .thumbnails img.active {
    outline: 2px solid #e63946;
    opacity: 1;
}

.cards-container .card {
    display: inline-block;
    overflow: visible;
    width: 100%;
}

.image-home {
    width: inherit;
}

#info-selected {
    border-radius: 1px;
    border-color: #c9c9ca !important;
    border: 1px solid;
    height: 140px;
}

.prix-fiche-produit {
    font-size: 35px;
    color: red;
}

#prix-barre {
    font-size: 18px;
    text-decoration: line-through;
}

.card {
    border: 1px solid #77bdf9;
}

.card-content {
    height: 10%;
}